<!DOCTYPE html>
<html>
<head>
	<title>Ma todolist</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Ma todolist</h1>
	<ul>
		<% todolist.forEach(function(todo, index) { %>
            <li><a href="/delete/<%= index %>">✘</a> <%= todo %></li>
        <% }); %>
	</ul>
	<form action="/add" method="post">
		<label for="newtodo">Ajouter une tâche</label>
		<input type="text" name="newtodo" id="newtodo" />
		<input type="submit" />
	</form>
</body>
</html>